body {
	margin: 0px;
}

header {
	height: 50px;
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	background-color: var(--colorVerdeC);
	padding: 3px;
}

#img-logo {
	height: 100%;
}

#logo {
	height: 100%;
	flex-basis: 5%;
}

#img-carrito {
	height: 80%;
	float: right;
	cursor: pointer;
	transition: all 80ms ease 0s;
}

#img-carrito:hover {
	filter: brightness(0.9);
}

#carrito {
	height: 95%;
	width: 10%;
	flex-basis: 10%;
	display: flex;
	padding-right: 1.5%;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	justify-items: center;
}

nav {
	height: 60%;
	flex-basis: 70%;
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

nav a {
	flex-basis: 10%;
	flex-grow: 0.5;
	margin: 5px 13px;
	color: var(--colorBlancoA);
	text-decoration: none;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

#div-space-gr {
	width: 40%;
	flex-basis: 60%;
	flex-grow: 1.5;
	height: 100%;
}