body {
    background-color: var(--colorVerdeA);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 30px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
}

section {
    background: linear-gradient(235deg, #0000001d 0%, #0000002d 75%, #00000014 100%);
    margin: 5px 5px;
    padding: 30px;
    border: 5px solid #ffffffb7;
}

form {
    padding: 5px 10px;
}

input {
    border: 4px solid #EEE;
    border-radius: 5px;
    margin: 5px 10px;
    font-size: 0.9rem;
}

input.accepted {
    border: 4px solid #45d274;
}

input.denied {
    border: 4px solid #d26b45;
}

#btn-submit:enabled:hover {
    cursor: pointer;
}

#passWarning {
    font-size: 0.8rem;
    font-style: italic;
}

/* Shopping cars section */

#actual-car {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

#saved-cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.cars {
    background-color: #0000002c;
    border-radius: 10px;
    width: 25vw;
    margin: 3px;
    padding: 5px;
}

.cars h4 {
    text-align: center;
}

.cars p {
    padding-left: 10px;
}

.cars a {
    width: fit-content;
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
    transition: color 100ms ease 0ms;
}

.cars a:hover {
    color: #5d5d5d;
}

.cars a p {
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 53%;
}

/* More options section */

#more-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

#more-options a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    transition: background-color 100ms ease-in-out 0s;
}

#more-options a:hover {
    background-color: rgba(0, 0, 0, 0.098);
}

#more-options a img {
    width: 2rem;
}

#more-options a p {
    padding: 0px 20px;
}